<!-- START FLASH -->                     
<% if flash[:title] == "Error" %>
<div class="alert alert-danger"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% elsif flash[:title] == "Success" %>
<div class="alert alert-success"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% end %>
<!-- END FLASH -->
<div class="login-container">

  <div class="login-box animated fadeInDown">
    <div class="login-logo"> <img src="/images/banner_logo.png" id="logo"></div>
    <div class="login-body">
      <div class="login-title"><strong>Log in</strong></div>
      <%= form_for(:session, url: login_path, html: {class: "form-horizontal"}) do |f| %>
      <div class="form-group">
        <div class="col-md-12">
          <%= f.text_field :id, class: 'form-control', placeholder: "ID Number" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <%= f.password_field :password, class: 'form-control', id: 'password', type: 'password', placeholder: "Password" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary btn-block">Log In</button>
        </div>
      </div>
      <% end %>
    </div>
    <!--<div class="login-footer">
      <div class="pull-left">
        &copy; 2015 AppName
      </div>
      <div class="pull-right">
        <a href="#">About</a> |
        <a href="#">Privacy</a> |
        <a href="#">Contact Us</a>
      </div>
    </div> -->
  </div>

</div>
    