<% if @employees.blank? %>
	<p>Search for an employee using the given fields.</p>
<% else %>
	<table class = 'table table-striped'>
		<thead>
			<th>Employee #</th>
			<th>Employee Name</th>
			<th>Position</th>
			<th>Balance</th>
			<th>Earned This Month</th>
			<th>Earned This Year</th>
		</thead>
		<tbody>
		<% @employees.sort_by_earned_month.reverse.each do |e|  %>
			<tr class = "tr-list" onclick=" window.document.location = '<%= employee_path(e) %>'; ">
			<td> <%= e.id %> </td>
			<td> <%= e.first_name + " " + e.last_name %> </td>
			<td> <%= Job.find(e.job_id).title %> </td>
			<td> <%= e.get_bucks_balance %> </td>
			<td> <%= e.get_bucks_earned_month %> </td>
			<td> <%= e.get_bucks_earned_year %> </td>
		</tr>
		<% end %>
		</tbody>
	</table>
<% end %>