<div id="leaderCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="table-responsive">
        <h1>Attendance</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Bucks</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1
             @top_attendance.each do |a| %>
              <tr>
                <td> <b><%= rank %>.</b> </td>
                <td> <%= Employee.find(a.IDnum).full_name %> </td>
                <td> <%= a.bucks_count %> </td>
              </tr>
          <% rank = rank + 1
             end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="item">
      <div class="table-responsive">
        <h1>Community Involvement</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Bucks</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1
             @top_community.each do |a| %>
              <tr>
                <td> <b><%= rank %>.</b> </td>
                <td> <%= Employee.find(a.IDnum).full_name %> </td>
                <td> <%= a.bucks_count %> </td>
              </tr>
          <% rank = rank + 1
             end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="item">
      <div class="table-responsive">
        <h1>Customer Service</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Bucks</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1
             @top_service.each do |a| %>
              <tr>
                <td> <b><%= rank %>.</b> </td>
                <td> <%= Employee.find(a.IDnum).full_name %> </td>
                <td> <%= a.bucks_count %> </td>
              </tr>
          <% rank = rank + 1
             end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="item">
      <div class="table-responsive">
        <h1>Shift Coverage</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Bucks</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1
             @top_shift.each do |a| %>
              <tr>
                <td> <b><%= rank %>.</b> </td>
                <td> <%= Employee.find(a.IDnum).full_name %> </td>
                <td> <%= a.bucks_count %> </td>
              </tr>
          <% rank = rank + 1
             end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="item">
      <div class="table-responsive">
        <h1>Other</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Bucks</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1
             @top_other.each do |a| %>
              <tr>
                <td> <b><%= rank %>.</b> </td>
                <td> <%= Employee.find(a.IDnum).full_name %> </td>
                <td> <%= a.bucks_count %> </td>
              </tr>
          <% rank = rank + 1
             end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="carousel-controls">
    <a class="left carousel-control" href="#leaderCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>


    <a class="right carousel-control" href="#leaderCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>