<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default panel-body">
      <div class = "form-container">

        <h2>Change Password</h2>

        <%= form_tag :action => 'change_password_finish' do %>

        <p><label for = "old_password_1">Type Password:</label>
          <%= text_field 'old1', class: 'password' %></p>

        <p><label for = "old_password_2">Retype Password:</label>
          <%= text_field 'old2', class: 'password' %></p>

        <p><label for = "buck_last_name">New Password:</label>
          <%= text_field 'new', class: 'password' %></p>
        <%= submit_tag 'Submit', :class => 'button-div' %>
         <% end %>
      </div>
    </div>
  </div>
</div>