<!-- START FLASH -->                     
<% if flash[:title] == "Error" %>
    <div class="alert alert-danger"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% elsif flash[:title] == "Success" %>
    <div class="alert alert-success"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% end %>
<!-- END FLASH -->

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/employees/<%= @current_user.IDnum %>">Profile</a></li>
    <li><%= @employee.full_name %></li>               
</ul>
<!-- END BREADCRUMB -->  

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

   <div class="page-content-wrap">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title"><span class="fa fa-user"></span> <%= @employee.first_name + " " + @employee.last_name %></h1>
            </div>
            <div class="panel-body">
                <center><p><%= Job.find(@employee.job_id).title %></p></center>
                <div class="text-center" id="user_image">
                    <%= image_tag get_profile_picture(@employee.IDnum), class: "img-thumbnail" %>
                </div>
                <div class="panel panel-default form-horizontal">
                    <div class="panel-body form-group-separated">                                    
                        <div class="form-group">
                            <label class="col-md-4 col-xs-5 control-label">ID#</label>
                            <div class="col-md-8 col-xs-7 line-height-30"><%= "#" + @employee.id.to_s %></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-xs-5 control-label">Department</label>
                            <div class="col-md-8 col-xs-7 line-height-30"><%= Department.find(@employee.department_id).name %></div>
                        </div>
                        <% if @current_user.has_admin_access %>
                        <div class="form-group">
                            <label class="col-md-4 col-xs-5 control-label">Roles</label>
                            <div class="col-md-8 col-xs-7">
                                <% Permission.where(job_id: @employee.job_id).each do |p| %>
                                    <%= Role.find(p.role_id).title %><br>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default btn-block">Possible Button</button>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Achievements (Coming Soon)</h3>
            </div>
            <div class="panel-body"></div>
          </div>
            <div class="col-md-2">                        
                <a href="#" class="tile tile-default">
                    <%= @bucks_nonvoid.where(reason_short: 'Attendance').count %>
                    <p>Attendance</p>                            
                </a>                        
            </div>
            <div class="col-md-2">                        
                <a href="#" class="tile tile-default">
                    <%= @bucks_nonvoid.where(reason_short: 'Community Involvement').count %>
                    <p>Community Involvement</p>                            
                </a>                        
            </div>
            <div class="col-md-2">                        
                <a href="#" class="tile tile-default">
                    <%= @bucks_nonvoid.where(reason_short: 'Customer Service').count %>
                    <p>Customer Service</p>                            
                </a>                        
            </div>
            <div class="col-md-2">                        
                <a href="#" class="tile tile-default">
                    <%= @bucks_nonvoid.where(reason_short: 'Shift Coverage').count %>
                    <p>Shift Coverage</p>                            
                </a>                        
            </div>
            <div class="col-md-2">                        
                <a href="#" class="tile tile-default">
                    <%= @bucks_nonvoid.where(reason_short: 'Other').count %>
                    <p>Other</p>                            
                </a>                        
            </div>
            <div class="col-md-2">                        
                <a href="#" class="tile tile-default">
                    <%= @bucks_nonvoid.where(reason_short: 'A+ Service').count %>
                    <p>100% Shop</p>                            
                </a>                        
            </div>

            <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Purchases</h3>
            </div>
            <div class="panel-body purchase-list-wrapper">
                <div class="purchase-list">
                    <%= render 'purchases/purchases_line' %>
                </div>
            </div>
        </div>

      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <%= @bucks = @bucks_nonvoid.where(status: ['Active','Partial']).order(sort_buck_column + " " + sort_buck_direction)
                  render 'bucks/bucks_route_detail' %>
                </div>
              </div>
          </div>
      </div>
    </div>
 
    
</div>

