<% if flash[:title] == "Error" %>
    <div class="notice-error"><%= flash[:notice] %></div>
<% elsif flash[:title] == "Success" %>
    <div class="notice-success"><%= flash[:notice] %></div>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default panel-body profile-info">
      <% if !get_profile_picture(@employee.IDnum).nil? %>
        <%= image_tag get_profile_picture(@employee.IDnum), class: "profile-image" %>
      <% else %>
        <img src='/images/profilePlaceholder.png' class='profile-image'/>
      <% end %>
      <h1><%= @employee.first_name + " " + @employee.last_name%></h1>
      <h3><%= "#" + @employee.id.to_s %>
          <br><%= Department.find(@employee.department_id).name %>
          <br><%= Job.find(@employee.job_id).title %>
          <% if @current_user.has_admin_access %>
              <br>Roles:<% Permission.where(job_id: @employee.job_id).each do |p| %>
                <%= Role.find(p.role_id).title %>
            <% end %>
          <% end %>
        <br><br>
        <div class="profile-Bucks-box">
          <h1><%= @employee.get_bucks_balance %></h1>
          <p>Bucks</p>
        </div>

    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12  panel-default">
        <div class="panel-heading">Achievements</div>
        <div class="panel panel-body">Coming soon!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12  panel-default">
          <div class="panel-heading">Bucks Earned</div>
          <div class="panel panel-body">
            <div class="profile-earned-bucks">
              <h1><%= Buck.where(employee_id: @employee.id).where(reason_short: 'Attendance', status:['Active','Partial','Redeemed']).count %></h1>
              <p>Attendance <br> Bucks</p>
            </div>
            <div class="profile-earned-bucks">
              <h1><%= Buck.where(employee_id: @employee.id).where(reason_short: 'Community Involvement', status:['Active','Partial','Redeemed']).count %>
              </h1>
              <p>Community Involvement Bucks</p>
            </div>
            <div class="profile-earned-bucks">
              <h1><%= Buck.where(employee_id: @employee.id).where(reason_short: 'Customer Service', status:['Active','Partial','Redeemed']).count %>
              </h1>
              <p>Customer Service Bucks</p>
            </div>
            <div class="profile-earned-bucks">
              <h1><%= Buck.where(employee_id: @employee.id).where(reason_short: 'Shift Coverage', status:['Active','Partial','Redeemed']).count %>
              </h1>
              <p>Shift Coverage Bucks</p>
            </div>
            <div class="profile-earned-bucks">
              <h1><%= Buck.where(employee_id: @employee.id).where(reason_short: 'Other', status:['Active','Partial','Redeemed']).count %>
              </h1>
              <p>Other <br>Bucks</p>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12  panel-default">
        <div class="panel-heading">Prizes Earned</div>
        <div class="panel panel-body">
          <%= render 'purchases/purchases_line' %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Available to Spend</div>
      <div class="panel-body">
            <%= render 'bucks/bucks_route_detail' %>
      </div>
    </div>
  </div>
</div>

