<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#"><%= @current_user.full_name %></a></li>               
</ul>
<!-- END BREADCRUMB -->  

<!-- START FLASH -->                     
<% if flash[:title] == "Error" %>
    <div class="alert alert-danger"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% elsif flash[:title] == "Success" %>
    <div class="alert alert-success"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% end %>
<!-- END FLASH -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

   <div class="page-content-wrap">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @employee.full_name %></h3>
            </div>
            <div class="panel-body">
            <div class="profile-image-profile">
              <%= image_tag get_profile_picture(@employee.IDnum) %>
            </div>
              
      <h1><%= @employee.first_name + " " + @employee.last_name%></h1>
      <%= "#" + @employee.id.to_s %>
          <br><%= Department.find(@employee.department_id).name %>
          <br><%= Job.find(@employee.job_id).title %>
          <% if @current_user.has_admin_access %>
              <br>Roles:<% Permission.where(job_id: @employee.job_id).each do |p| %>
                <%= Role.find(p.role_id).title %>
            <% end %>
          <% end %>
        <br><br>
        <center>
        <div class="profile-Bucks-box ">
          <h1><%= @employee.get_bucks_balance %></h1>
          <p>Bucks</p>
        </div>
        </center>
            </div>
            <div class="panel-footer">
                                <%= @employee.get_bucks_balance %>
                            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel Title 1</h3>
            </div>
            <div class="panel-body"></div>
          </div>
          <div class="panel panel-default tabs">
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li class="active">
                <a href="#tab-first-j1" role="tab" data-toggle="tab">First</a>
              </li>
              <li>
                <a href="#tab-second-j1" role="tab" data-toggle="tab">Second</a>
              </li>
            </ul>
            <div class="panel-body tab-content">
              <div class="tab-pane active" id="tab-first-j1"></div>
              <div class="tab-pane" id="tab-second-j1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= @bucks = @bucks_nonvoid.where(status: ['Active','Partial']).order(sort_buck_column + " " + sort_buck_direction)
          render 'bucks/bucks_route_detail' %>
        </div>
      </div>
    </div>
 
    
</div>

