<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default panel-body">

        <% if flash[:title] == "Error" %>
          <div class="notice-error"><%= flash[:notice] %></div>
        <% elsif flash[:title] == "Success" %>
          <div class="notice-success"><%= flash[:notice] %></div>
        <% end %>

        <h2>Support and Feedback</h2>

        <p>Enter any feedback or questions you have about the bucks application or the program:</p>

        <%= form_tag :action => 'feedback_deliver' do %>

        <%= text_area_tag 'feedback_message', nil, size: "128x12", id: 'feedback_message' %>

        <br/>

        <%= submit_tag 'Submit' %>

        <% end -%>
    </div>
  </div>
</div>