<% if @reserved.blank? %>
	<p>None</p>
<% else %>
<div class="table-responsive">
	<table class = 'table table-striped'>
		<thead>
			<th>Purchase ID</th>
			<th>Employee #</th>
			<th>Employee Name</th>
			<th>Prize</th>
			<th>Name</th>
			<th>Item #</th>
			<th>Size</th>
			<th>Color</th>
			<th>Ordered</th>
			<th>Action</th>
		</thead>
		<tbody>
		<% @reserved.each do |r|  
			@employee = Employee.find(r.employee_id)
			@prize = Prize.find(r.prize_id)
			@prize_subcat = PrizeSubcat.find(r.prize_subcat_id)
		%>
		<tr>
			<td> <%= r.id %> </td>
			<td> <%= @employee.id %> </td>
			<td> <%= @employee.first_name + " " + @employee.last_name %> </td>
			<td> <%= @prize.id %> </td>
			<td> <%= @prize.name %> </td>
			<td> <%= @prize_subcat.id %> </td>
			<td> <%= @prize_subcat.size %> </td>
			<td> <%= @prize_subcat.color %> </td>
			<td> <%= r.created_at %> </td>
			<td> <%= link_to action: :confirm, id: r.id do %><div class="btn btn-success">Complete</div><% end %></td>
		</tr>
		<% end %>
		</tbody>
	</table>
</div>
<% end %>