<% if @purchases.blank? %>
	<p>None</p>
<% else %>
	<table class = 'table table-striped'>
		<thead>
			<th>Purchase ID</th>
			<th>Employee #</th>
			<th>Employee Name</th>
			<th>Prize</th>
			<th>Name</th>
			<th>Item #</th>
			<th>Size</th>
			<th>Color</th>
			<th>Status</th>
			<th>Ordered</th>
			<th>Action</th>
		</thead>
		<tbody>
		<% @purchases.each do |p|  
			@employee = Employee.find(p.employee_id)
			@prize = Prize.find(p.prize_id)
			@prize_subcat = PrizeSubcat.find(p.prize_subcat_id)
		%>
		<tr class = "clickable">
			<td> <%= p.id %> </td>
			<td> <%= @employee.id %> </td>
			<td> <%= @employee.first_name + " " + @employee.last_name %> </td>
			<td> <%= @prize.id %> </td>
			<td> <%= @prize.name %> </td>
			<td> <%= @prize_subcat.id %> </td>
			<td> <%= @prize_subcat.size %> </td>
			<td> <%= @prize_subcat.color %> </td>
			<td> <%= p.status %> </td>
			<td> <%= p.created_at %> </td>
			<td> <%= link_to 'Refund', { controller: :purchases, action: :refund, purchase_id: p.id,
				prize_id: p.prize_id, prize_subcat: p.prize_subcat_id } if !p.returned %></td>
		</tr>
		<% end %>
		</tbody>
	</table>
<% end %>