<% if @orders.blank? %>
	<p>None</p>
<% else %>
	<table class = 'table-list'>
		<tr class = "tr-list-head" >
			<td>Purchase ID</td>
			<td>Cashier #</td>
			<td>Cashier Name</td>
			<td>Transaction</td>
			<td>Prize</td>
			<td>Size</td>
			<td>Color</td>
			<td>Ordered</td>
		</tr>
		<% @orders.each do |o|  
			@cashier = Employee.find(o.cashier_id)
			@prize = Prize.find(o.prize_id)
			@prize_subcat = PrizeSubcat.find(o.prize_subcat_id)
		%>
		<tr class = "tr-list">
			<td> <%= o.id %> </td>
			<td> <%= @cashier.id %> </td>
			<td> <%= @cashier.first_name + " " + @cashier.last_name %> </td>
			<td> <%= o.status %> </td>
			<td> <%= @prize.name %> </td>
			<td> <%= @prize_subcat.size %> </td>
			<td> <%= @prize_subcat.color %> </td>
			<td> <%= o.created_at %> </td>
		</tr>
		<% end %>
	</table>
<% end %>