<!-- START FLASH -->                     
<% if flash[:title] == "Error" %>
    <div class="alert alert-danger"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% elsif flash[:title] == "Success" %>
    <div class="alert alert-success"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% end %>
<!-- END FLASH -->

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>  
    <li>Departments</li>
    <li><a href="/admin/depts">Manage</a></li>   
    <li><%= @dept.name %></li>
    <li>Approver #<%= @number %></li>       
</ul>
<!-- END BREADCRUMB -->  

<!-- START TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-building"></span> <%= @dept.name %>: Select Job Code for Approver #<%= @number %> 
      <%= link_to controller: :departments, action: :approver_add, number: @number, jobcode: nil, dept: @dept.id, class: "btn btn-success" do %>
        <div class="btn btn-danger">
          Reset Assignment
        </div>
      <% end %>
    </h2>
</div>
<!-- END TITLE -->

<div class="page-content-wrap">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-body y-max-500">
        <%= render 'jobs/jobs_approve' %>
      </div>
    </div>
  </div>
</div>