<!-- START FLASH -->                     
<% if flash[:title] == "Error" %>
    <div class="alert alert-danger"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% elsif flash[:title] == "Success" %>
    <div class="alert alert-success"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% end %>
<!-- END FLASH -->

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>  
    <li>Departments</li>
    <li>Manage</li>             
</ul>
<!-- END BREADCRUMB -->  

<!-- START TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-building"></span> Administrator: Manage Department Monthly Budget</h2>
</div>
<!-- END TITLE -->

<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-body">
          <%= form_tag :action => 'update' do %>
          <div class="table-responsive">
            <table class = 'table table-striped table-condensed'>
              <thead>
                <th>Department</th>
                <th>Budget</th>
                <th>Approver 1</th>
                <th></th>
                <th>Approver 2</th>
                <th></th>
              </thead>
              <tbody>
                <% @departments.each do |d|  %>
                <tr>
                <%= hidden_field_tag 'department_ids[]', d.id %>
                  <td> <%= d.name %> </td>
                  <td> <%= text_field_tag 'department_values[]', d.budget, class: 'form-control' %></td>
                  <td> <%= Job.find(d.approve1).title if !d.approve1.nil? %> </td>
                  <td> <%= link_to 'Change', { action: :approvers, number: 1, dept: d.id }, class: 'btn btn-primary' %> </td>
                  <td> <%= Job.find(d.approve2).title if !d.approve2.nil? %> </td>
                  <td> <%= link_to 'Change', { action: :approvers, number: 2, dept: d.id }, class: 'btn btn-primary' %> </td>
                </tr>
              <% end %>
              </tbody>
            </table>
            </div>
          <%= submit_tag 'Update Budgets', class: "btn btn-primary" %>
          <% end -%>
        </div>
    </div>
  </div>
</div>