<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default panel-body">
      <% if flash[:title] == "Error" %>
        <div class="notice-error"><%= flash[:notice] %></div>
      <% elsif flash[:title] == "Success" %>
        <div class="notice-success"><%= flash[:notice] %></div>
      <% end %>

      <h1>Administrator: Manage Department Monthly Budget</h1>

      <div class = "table-wrapper">
      <%= form_tag :action => 'update' do %>
        <table class = 'table-list'>
          <tr class = "tr-list-head" >
            <td class = "td-list">Department</td>
            <td class = "td-list">Budget</td>
            <td class = "td-list">Approver 1</td>
            <td class = "td-list"></td>
            <td class = "td-list">Approver 2</td>
            <td class = "td-list"></td>
          </tr>
          <% @departments.each do |d|  %>
          <tr class = "tr-list">
          <%= hidden_field_tag 'department_ids[]', d.id %>
            <td class = "td-list"> <%= d.name %> </td>
            <td class = "td-list"> <%= text_field_tag 'department_values[]', d.budget, class: 'text-condensed' %></td>
            <td class = "td-list"> <%= Job.find(d.approve1).title if !d.approve1.nil? %> </td>
            <td class = "td-list"> <%= link_to 'Change', { action: :approvers, number: 1, dept: d.id } %> </td>
            <td class = "td-list"> <%= Job.find(d.approve2).title if !d.approve2.nil? %> </td>
            <td class = "td-list"> <%= link_to 'Change', { action: :approvers, number: 2, dept: d.id } %> </td>
          </tr>
          <% end %>
        </table>

      <%= submit_tag 'Update Budgets' %>
      <% end -%>
      </div>
    </div>
  </div>
</div>