<!DOCTYPE html>
<html lang="en">
<body>
	<p>A new order has been placed:</p><br/>

	Employee: <b><%= @user.full_name %></b><br/>
	ID#: <b><%= @user.IDnum %></b><br/><br/>

	Prize: <%= @prize.name %><br/>
	Brand: <%= @prize_subcat.brand %><br/>
	Size: <%= @prize_subcat.size %><br/>
	Color: <%= @prize_subcat.color %><br/><br/>
	Quantity: <%= @quantity %><br/><br/>
</body>
</html>