<% if @prize_subcats.blank? %>
	<p>No results to show.</p>
<% else %>
	<div class="table-responsive">
	<table class = 'table table-striped table-condensed' id = 'table-prizes-small'>
		<thead>
			<th>ID</th>
			<th>Brand</th>
			<th>Size</th>
			<th>Color</th>
			<th>Stock</th>
			<th>Image</th>
			<th>Updated</th>
			<th>Manage</th>
		</thead>
		<tbody>
			<% @prize_subcats.each do |p|  %>
			<tr>
				<td> <%= p.id %> </td>
				<td> <%= p.brand %> </td>
				<td> <%= p.size %> </td>
				<td> <%= p.color %> </td>
				<td> <%= p.stock %> </td>
				<td> <%= image_tag 'check16dp.png' if !p.image.blank? %> </td>
				<td> <%= p.updated_at %> </td>
				<td> <%= link_to 'Edit', { action: :edit, id: p.id} %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
	</div>
<% end %>