<% if flash[:title] == "Error" %>
<div class="notice-error"><%= flash[:notice] %></div>
<% elsif flash[:title] == "Success" %>
<div class="notice-success"><%= flash[:notice] %></div>
<% end %>

<h1>Manage Prize Inventory for <%= @prize.name %></h1>

<div class = "prize-detail-container">
	<div class = "table-wrapper">
		<div class = "prize-detail-cell-picture">
			<img src = "<%= @prize.get_first_image %>" class = "prize-detail-picture">
		</div>
	</div>

	<div class = "table-wrapper" style = "width: 100%">

		<% if @current_user.can_manage_inventory %>

		<ul class = 'button-line'>
			<a href="<%= @prize.id %>/new"><li>New Inventory</li></a>
			<a href="/prizes/manage"><li>Back</li></a>
			<a href="/prizes/manage/<%= @prize.id %>"><li>Show All</li></a>
		</ul>

		<%= form_tag (''), :method => 'get', :id => 'prize_search' do %>
		<div class = "table-search-input" id = "table_search_input_buck">
			<%= select_tag :color, options_for_select([
				[],
				['Black'],
				['Blue'],
				['Brown'],
				['Dark Brown'],
				['Gold'],
				['Grey'],
				['Green'],
				['Light Brown'],
				['Lime Green'],
				['Maroon'],
				['Navy'],
				['Orange'],
				['Pink'],
				['Purple'],
				['Red'],
				['Sky Blue'],
				['Teal'],
				['White'],
				['Yellow']]), include_blank: "Color" %>
			<%= select_tag :size, options_for_select([
				[],
				['XS'],
				['S'], 
				['M'], 
				['L'], 
				['XL'], 
				['XXL'],
				['XXXL']]), include_blank: "Size" %>
				<%= submit_tag 'Search', id: 'search_prize_button' %>
				<% end %>
			</div>
			<% end %>

			<div class = "table-wrapper">
				<div id = "prizes_table">
					<%= render 'prizes_sub_manage' %>
				</div>
			</div>

			<div class = "clear"></div>
		</div>
	</div>


