<% if flash[:notice] %>
  <div class="notice-error">
  <% flash[:notice].each do | k, m |
   	flash[:notice][k].each do | e | %>
   		<%= e %><br>
   	<% end
  end %>
  </div>
<% end %>

<h1>New Type of <%= @prize.name %></h1>

<div class = "form-container">
	<%= form_tag :action => 'create' do %>

		<%= render 'prize_sub_form' %>
		
		<%= submit_tag 'Submit' %>
	<% end -%>
</div>

