<% if @prizes.blank? %>
	<p>None</p>
<% else %>
<div class="table-responsive">
	<table class = 'table table-striped table-condensed' id = 'table-prizes-small'>
		<thead>
			<th>ID</th>
			<th>Prize</th>
			<th>Category</th>
			<th>Cost</th>
			<th>Stock</th>
			<th>Must Reserve</th>
			<th>Available</th>
			<th>Featured</th>
			<th>Manage</th>
		</thead>
		<tbody>
			<% @prizes.each do |p|  %>
			<tr>
				<td> <%= p.id %> </td>
				<td> <%= p.name %> </td>
				<td> <%= p.category %> </td>
				<td> $<%= p.cost %> </td>
				<td> <%= p.get_total_stock %> </td>
				<td class="centered"> <%= image_tag 'check16dp.png' if p.must_order %> </td>
				<td class="centered"> <%= image_tag 'check16dp.png' if p.available %> </td>
				<td class="centered"> <%= image_tag 'check16dp.png' if p.featured %> </td>
				<td> <%= link_to 'Manage Stock', controller: :prize_subcats, action: :manage, id: p.id %> | <%= link_to 'Edit', { action: :edit, id: p} %> | <%= link_to 'Discontinue', { controller: :prizes, action: :discontinue, id: p.id} %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
	</div>
<% end %>