<% if @prizes.blank? %>
	<p>None</p>
<% else %>
	<ul class = "grid-view">
	<% @prizes.each do |p| %>
		<li>
			<div class="prize-list-container">
				<div class = "price-tag">
					<%= p.cost %> Bucks
				</div>
				<div class = "prize-content">
					<img src = "<%= p.get_first_image %>" class = "prize-photo">
				</div>
				<div class = "prize-content-details">
					<p class = "item-name"><b><%= link_to p.name, action: :show, id: p.id %></b></p>
					<% @prize_subcat = PrizeSubcat.where(prize_id: p.id) %>

					<% if p.must_order %>
						<p><b>Prize must be ordered</b></p>
					<% else %>
						<p>In stock: <%= p.get_total_stock %></p>
					<% end %>
					
					<% @prize_subcat.group(:size).each do |s| 
							if s.size != '' %>
							<div class = "size"><%= s.size %></div>
						<% end end %><br>

					<% @prize_subcat.group(:color).each do |c| 
							if c.color != '' %>
							<div class = "color" style="background-color:<%= get_color_code(c.color) %>""></div>
					<% end end %>

				</div>
			</div>
		</li>
	<% end %>
	</ul>
<% end %>