<% if @prizes.blank? %>
	<p>None</p>
<% else %>
<div class="table-responsive">
	<table class = 'table table-condensed table-striped' id = 'table-prizes-small'>
		<thead>
			<th>ID</th>
			<th>Prize</th>
			<th>Name</th>
			<th>Brand</th>
			<th>Stock</th>
			<th>Cost</th>
			<th>Size</th>
			<th>Color</th>
			<th>Must Reserve</th>
		</thead>
		<tbody>
		<% @prizes.each do |p|  %>
			<tr class="tr-clickable">
				<td> <%= p.id %> </td>
				<td> <%= p.prize_id %> </td>
				<td> <%= p.name %> </td>
				<td> <%= p.brand %> </td>
				<td> <%= p.stock %> </td>
				<td> $<%= p.cost %> </td>
				<td> <%= p.size %> </td>
				<td> <%= p.color %> </td>
				<td> <%= image_tag 'check16dp.png' if p.must_order %> </td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
<% end %>