<!-- START FLASH -->                     
<% if flash[:title] == "Error" %>
    <div class="alert alert-danger"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% elsif flash[:title] == "Success" %>
    <div class="alert alert-success"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% end %>
<!-- END FLASH -->

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/prizes">Store</a></li>
    <li>Manage</li>
    <li>Prizes</li>              
</ul>
<!-- END BREADCRUMB -->  

<!-- START TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-desktop"></span> Manage Bucks Store Prizes</h2>
</div>
<!-- END TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap"> 

  <%= form_tag (''), :method => 'get', :id => 'prize_search' do %>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
              <div class="col-md-3">
                <%= text_field_tag :id, params[:id], placeholder: 'Prize ID', class: 'form-control' %>
              </div>
              <div class="col-md-3">
                <%= text_field_tag :name, params[:name], placeholder: 'Name', class: 'form-control' %>
              </div>
              <div class="col-md-3">
                <%= select_tag :available, options_for_select([
                [],
                ['Available', 1],
                ['Discontinued', 0]]), class: 'form-control' %>
              </div>
              <div class="col-md-3">
                <%= submit_tag 'Search', id: 'search_prize_button', class: 'btn btn-primary' %>
                <a href="new"><div class="btn btn-primary">
                  New Prize
                </div></a>
              </div> 
            
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body" id = "prizes_table">
          <%= render 'prizes_manage' %>
        </div>
      </div>
    </div>
  </div>
</div>