<% if @employees.blank? %>
	<p>There is no employee information to show.</p>
<% else 
  budget_per_employee = @department.get_budget_per_employee %>
  <div class="table-responsive">
	<table class = 'table table-striped table-condensed'>
		<thead>
			<th>Team Member ID</th>
			<th>Name</th>
			<th>Position</th>
			<th>Issued</th>
			<th>% of Budget</th>
			<th>% of Dept Budget</th>
		</thead>
		<tbody>
			<% @employees.each do |e| 
				budget_used = e.get_personal_budget_used(@month_num, @year)
				%>
				<tr class = "tr-clickable" onclick=" window.document.location = '/employees/analyze/<%= e.IDnum %>?utf8=✓&month=<%= @month %>&year=<%= @year %>&commit=Show'; ">
				<td> <%= e.id %> </td>
				<td> <%= e.first_name + " " + e.last_name %> </td>
				<td> <%= Job.find(e.job_id).title %> </td>
				<td> <%= budget_used %> </td>
				<td> <p class = <%= p_class_for_budget(budget_used, budget_per_employee)%>><%= e.get_personal_budget_used_percent(@month_num, @year) %>%</p> </td>
				<td> <p class = <%= p_class_for_budget(budget_used, budget_per_employee)%>><%= e.get_department_budget_used_percent(@month_num, @year) %>%</p> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
	</div>
<% end %>