<% if @bucks.blank? %>
	<p>None</p>
<% else %>

    <div class="table-responsive">
      <table class="table table-striped	">
        <thead>
	        <tr>
            <th><%= buck_sortable "number" %></th>
            <th><%= buck_sortable "employee_id" %></th>
            <th><%= buck_sortable "employeeName" %></th>
            <th><%= buck_sortable "value" %></th>
            <th><%= buck_sortable "assignedBy" %></th>
            <th><%= buck_sortable "reason_short" %></th>
            <th><%= buck_sortable "status" %></th>
            <th><%= buck_sortable "expires" %></th>
            <th><%= buck_sortable "approved" %></th>
            <% if @current_user.has_admin_access %>
              <th>Admin</th>
            <% end %>
		      </tr>
        </thead>
        <tbody>
            <%
              @bucks = @bucks.reverse if params[:direction] == "desc"
              @bucks.each do |b|
              @assignedTo = Employee.find(b.employee_id)
              @assignedBy = Employee.find(b.assignedBy) %>
            <tr onclick=" window.document.location = '<%= buck_path(b) %>'; ">
              <td> <%= b.number %> </td>
              <td> <%= b.employee_id %> </td>
              <td> <%= @assignedTo.first_name + " " + @assignedTo.last_name %> </td>
              <td> <%= b.value %> </td>
              <td> <%= @assignedBy.first_name + " " + @assignedBy.last_name %> </td>
              <td> <%= b.reason_short %> </td>
              <td> <%= b.status %> </td>
              <td> <%= l b.expires.localtime.to_date if b.expires? %> </td>
              <td> <%= l b.approved_at.localtime if !b.approved_at.nil? %></td>
              <% if @current_user.has_admin_access %>
              <td> <%= link_to 'Void', { controller: :bucks, action: :delete, id: b} %> </td>
              <% end %>
            </tr>
            <% end %>
        </tbody>
	</table>
<% end %>