<% if !@buck.nil? %>
    <h1>Buck #<%= @buck.id %></h1>
    <% @employee = Employee.find(@buck.employee_id) %>
    <% @assignedBy = Employee.find(@buck.assignedBy) %>

    <div class="buck-container">
      <div><img class="buck-container--logo" src="/images/banner_logo.png"></div>
      <div class="buck-container--info-left">
        TEAM MEMBER:
        <br>FROM:
        <br>DEPARTMENT:
        <br>DATE:
      </div>

      <div class="buck-container--info-right">
              <textarea disabled class="buck-container--info-textarea ">
                <%= @employee.first_name + " " + @employee.last_name %>
              </textarea>
        <br><textarea disabled class="buck-container--info-textarea ">
                <%= @assignedBy.first_name + " " + @assignedBy.last_name %>
              </textarea>
        <br><textarea disabled class="buck-container--info-textarea ">
                <%= Department.find(@buck.department_id).name %>
              </textarea>
        <br><textarea disabled class="buck-container--info-textarea ">
                <%= @buck.approved_at %>
              </textarea>
      </div>

      <br><div class="buck-container--other-info">
      OTHER: CAN BE NO MORE THAN 10 BUCKS
      <br><textarea disabled class="buck-container--info-textarea-other ">
                         <%= @buck.reason_long %>
                      </textarea>
      <br><p>Number Of Bucks To Be Rewarded: <%= @buck.value %></p>
    </div>
      <div class="buck-container--type-area">
        <div class="buck-container--check-box">
          <% if @buck.reason_short == 'Attendance'%>
              <input type="checkbox" name="type" value="Attendance" checked disabled> ATTENDANCE
          <% else %>
              <input type="checkbox" name="type" value="Attendance" disabled> ATTENDANCE
          <% end %>
          <p>3 Bucks</p>
        </div>
        <div class="buck-container--check-box">
          <% if @buck.reason_short == 'Shift Coverage'%>
              <input type="checkbox" name="type" value="Shift Coverage" checked disabled> SHIFT COVERAGE
          <% else %>
              <input type="checkbox" name="type" value="Shift Coverage" disabled> SHIFT COVERAGE
          <% end %>
          <p>2 Bucks</p>
        </div>
        <div class="buck-container--check-box">
          <% if @buck.reason_short == 'Other'%>
              <input type="checkbox" name="type" value="Other" style="padding-left: 20px" checked disabled> OTHER
          <% else %>
              <input type="checkbox" name="type" value="Other" style="padding-left: 20px" disabled> OTHER
          <% end %>
          <p>1-10 Bucks </p>
        </div>
        <br>
        <div class="buck-container--check-box">
          <% if @buck.reason_short == 'Customer Service'%>
              <input type="checkbox" name="type" value="Customer Service" checked disabled> CUSTOMER SERVICE
          <% else %>
              <input type="checkbox" name="type" value="Customer Service" disabled> CUSTOMER SERVICE
          <% end %>
          <p>5 Bucks</p>
        </div>
        <div class="buck-container--check-box">
          <% if @buck.reason_short == 'Community Involvement'%>
              <input type="checkbox" name="type" value="Attendance" checked disabled> COMMUNITY INVOLVEMENT
          <% else %>
              <input type="checkbox" name="type" value="Attendance" disabled> COMMUNITY INVOLVEMENT
          <% end %>
          <p>3 Bucks</p>
        </div>
        <br>
        <div class="buck-container--director">
          DIRECTOR SIGN OFF FOR "OTHER"
          <br><textarea disabled class="buck-container--info-textarea ">
              </textarea>
        </div>
      </div>

    </div>

<% end %>


