<div class="page-sidebar">
  <!-- START X-NAVIGATION -->
  <ul class="x-navigation">
      <li class="xn-logo">
          <a href="#">TCOB Bucks</a>
          <a href="#" class="x-navigation-control"></a>
      </li>
      <li class="xn-profile">
          <a href="#" class="profile-mini">
              <%= image_tag get_profile_picture(@current_user.IDnum) %>
          </a>
          <div class="profile">
              <div class="profile-image">
                  <%= image_tag get_profile_picture(@current_user.IDnum) %>
              </div>
              <div class="profile-data">
                  <div class="profile-data-name"><%= @current_user.full_name %></div>
                  <div class="profile-data-title"><%= Job.find(@current_user.job_id).title %></div>
              </div>
          </div>                                                                        
      </li>
      <li class="xn-title">Navigation</li>
        <li>
            <a href="/"><span class="fa fa-home"></span> <span class="xn-text">Home</span></a>
        </li> 
        <li>
            <a href="/employees/<%= @current_user.IDnum %>"><span class="fa fa-user"></span> <span class="xn-text">Your Profile</span></a>
        </li>                   
        <li>
            <a href="/prizes"><span class="fa fa-shopping-cart"></span> <span class="xn-text">Bucks Store</span></a>
        </li>
        <li>
            <a href="/prizes/orders"><span class="fa fa-file-text-o"></span> <span class="xn-text">Your Orders</span></a>
        </li>
        <li>
            <a href="/favorites"><span class="fa fa-heart"></span> <span class="xn-text">Your Favorites</span></a>
        </li>                    
        <li class="xn-openable">
            <a href="#"><span class="fa fa-asterisk"></span> <span class="xn-text">Support</span></a>
            <ul>
                <li><a href="/report"><span class="fa fa-exclamation-circle"></span>Report Issue</a></li>
                <li><a href="/feedback"><span class="fa fa-comments"></span>Feedback</a></li>
                <!-- <li><a href="#"><span class="fa fa-question-circle"></span>FAQ</a></li>
                <li><a href="#"><span class="fa fa-info-circle"></span>About</a></li>
 -->            </ul>
        </li>
      <li class="xn-title">Manage</li>
        <li>
          <a href="/bucks/new"><span class="fa fa-plus-circle"></span> <span class="xn-text">New Buck</span></a>
        </li>                    
        <li>
          <a href="/employees/analyze/<%= @current_user.IDnum %>"><span class="fa fa-book"></span> <span class="xn-text">Bucks Issued</span></a>
        </li>
        <li>
          <a href="/employees/team"><span class="fa fa-users"></span> <span class="xn-text">Your Department</span></a>
        </li>
        <li>
          <a href="/bucks/pending"><span class="fa fa-clock-o"></span> <span class="xn-text">Pending Approval</span></a>
        </li>                    
        <li>
          <a href="/bucks"><span class="fa fa-money"></span> <span class="xn-text">All Bucks</span></a>
        </li>
      <li class="xn-title">Cashiers</li>
        <li>
          <a href="/purchase/start_purchase"><span class="fa fa-long-arrow-right"></span> <span class="xn-text">Begin Purchase</span></a>
        </li>                    
        <li>
          <a href="/purchase/start_manage"><span class="fa fa-usd"></span> <span class="xn-text">Manage Purchases</span></a>
        </li>
        <li>
          <a href="/purchase/reserved"><span class="fa fa-desktop"></span> <span class="xn-text">Reserved Prizes</span></a>
        </li>
        <li>
          <a href="/prizes/manage"><span class="fa fa-gift"></span> <span class="xn-text">Manage Prizes</span></a>
        </li>                    
        <li>
          <a href="/admin/orders"><span class="fa fa-truck"></span> <span class="xn-text">Prize Orders</span></a>
        </li>
        <li>
          <a href="/employees"><span class="fa fa-male"></span> <span class="xn-text">All Employees</span></a>
        </li>
      <li class="xn-title">Admin</li>
        <li>
          <a href="/admin/bucks/analyze"><span class="fa fa-tachometer"></span> <span class="xn-text">Review Budgets</span></a>
        </li>                    
        <li>
          <a href="/admin/depts"><span class="fa fa-building"></span> <span class="xn-text">Manage Depts</span></a>
        </li>
        <li>
          <a href="/roles"><span class="fa fa-check"></span> <span class="xn-text">Manage Permissions</span></a>
        </li>
        <li>
          <a href="/admin/logs/bucks"><span class="fa fa-pencil-square-o"></span> <span class="xn-text">Buck Logs</span></a>
        </li>                    
        <li>
          <a href="/admin/logs/store"><span class="fa fa-pencil-square-o"></span> <span class="xn-text">Store Logs</span></a>
        </li>
  </ul>
  <!-- END X-NAVIGATION -->
</div>
